body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

:root{
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-white-color:rgba(255, 255, 255, 1);
    --accent-color: rgba(33, 33, 33, 1);
    --color-hover-logo-button: rgba(33, 150, 243, 1);
}

.list{
    list-style: none;
}


.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* ШАПКА і ФУТЕР*/
.link,
.email,
.tel,
.logo{
    text-decoration: none;
}

.logo,
.link{
    color: var(--accent-color);
}
 
.email,
.tel{
    color: var(--primary-text-color);
}

.logo-element{
    color: var(--color-hover-logo-button);
}

.link:hover,
.link:focus,
.email:hover,
.email:focus,
.tel:hover,
.tel:focus{
color: var(--color-hover-logo-button);
}

.site-nav,
.email,
.tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.title-list{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
}
/* Заголовок + кнопка (студія)*/

/* .hero-title{
    color: var(--primary-white-color);
} */

.button{
    color: var(--primary-white-color);
    background-color: var(--color-hover-logo-button);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em; 
}

h2,
h3{
color: var(--accent-color);
}

/*Кнопки(портфоліо)*/

.button-element{
background-color: --primary-white-color;
color:  --accent-color;
}
